@import url('https://fonts.googleapis.com/css?family=Overpass');


@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
/* .carousel-indicators  {
    background-color: rgba(0, 0, 0, 0.4);
}    */
.carousel-indicators .active {
    background-color: black; /* Couleur de fond de l'indicateur actif */
}
#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* Style initial de la modal (invisible et rotation) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transform: perspective(400px) rotateX(-90deg);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Style final de la modal (visible et sans rotation) */
.modal.active {
    display: block;
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
    animation: flipDown 0.3s ease-in-out;

}


@keyframes flipDown {
    from {
        transform: perspective(400px) rotateX(-90deg);
        opacity: 0;
    }
    to {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

body{margin: 0; padding: 0;}

.close {
    position: absolute;
    top: 7vh;
    right: 35px;
    font-size: 30px;
    color: #f1f1f1;
    cursor: pointer;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}

.fade-in {
    opacity: 0;
    transform: (20px);
    transition: opacity 1.5s, transform 1.5s;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

@font-face {
    font-family: 'titre';
    src: url('../static/font/Lobster-Regular.ttf') format('truetype');
    /* Ajoutez une version WOFF pour une compatibilité étendue */
    /* src: url('../static/font/game_over.woff') format('woff'), */
    
  }
  .ml15 {
  text-transform: uppercase;
  letter-spacing: 0em;

}
.ml112 .letter2 {
  font-family: 'titre', sans-serif !important
}

.ml112 .line2 {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 20vh;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 100%;
}

.ml112 .text-wrapper2 {
  position: relative;
  display: inline-block;

}

.ml112 .line2 {
  opacity: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.let {
    color: initial; /* Réinitialiser la couleur à sa valeur par défaut */
  }
.ml112 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml15 .word {
  font-family: 'titre', sans-serif !important;
  display: inline2-block;
}
  #singature {
    font-family: 'titre', sans-serif
  }
::-webkit-scrollbar {
    background-color: #555;
    border-radius: 6px;

    width: 3px;
    /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Couleur du curseur de défilement */
    border-radius: 6px;
    /* Rayon des coins du curseur de défilement */
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    display: none;
}
/* Style de la barre de défilement sur Firefox */
/* Notez que certaines versions de Firefox ne prennent pas en charge ces propriétés */
* {
    scrollbar-color: #888 transparent;
    /* Couleur du curseur et de la piste de défilement */
    scrollbar-width: thin;
    /* Épaisseur de la barre de défilement sur Firefox */
}

/* #advancementInPage
{
    width: 3px;
    height: 50%;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    border-radius: 100px;
    background-color: #232423;
}

element.style {
    height: 56.9343%;
}
#scrollIndicator {
    background-color: #4e4e4e;
    width: 100%;
    height: 10%;
    z-index: 20;
    position: absolute;
    border-radius: 100px;
} */





@font-face {
    font-family: 'titre';
    src: url('../static/font/DancingScript-VariableFont_wght.ttf');
    /* Ajoutez une version WOFF pour une compatibilité étendue */
    /* src: url('../static/font/game_over.woff') format('woff'), */
}

* {
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s, transform 1.5s;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}