<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Acceuil</title>
  <link rel="icon" href="../static/media/logo-transparent-png.png" sizes="64x64" type="image/png">

  {% include 'link.html' %}


</head>
<style>
 
</style>

{% include 'body.html' %}

  {% include 'navbar.html' %}
  <div id="particles-js" style="height: 93vh ; ">

    <div class="flex justify-center absolute fade-in " style="height: 93vh;left: 24%;">

      <div class="flex justify-end items-center" style="width: 50vw; height: 80vh;">
        <div class="Bienvenue text-6xl flex items-end text-white " style="height: 20vh; width: 30vw;"
          >
          <p style="font-family: 'titre', sans-serif !important">Bienvenue, <br>je suis <span class="text-black" style="font-family: 'titre', sans-serif !important">Adil 
          </span><br>développeur web
          </p>
        </div>
        <h1 class="object-cover  rounded-full hover:scale-110 text-8xl text-black Bienvenue bg-white backdrop-blur-sm flex justify-center items-center " 
          style="font-family: 'titre', sans-serif !important;height: 35vh; width: 17vw;">AK</h1>

      </div>



    </div>
  </div>
  <a href="{{ url_for('download_pdf') }}"
  class="Bienvenue fade-in fixed mb-3  let-0 ml-2 w-12 hover:w-20 bottom-12 btn rounded-xl text-xl   bg-gray-950 text-white hover:bg-gray-900 btn   h-10 ml-2 mt-1"
  download style=" overflow: hidden;" target="_blank">
  <i class="bi bi-file-earmark-text"></i> <span style="font-family: 'titre', sans-serif !important">CV</span>
</a>
<a href="https://github.com/Adkhey74" target="_blank"
  class="fade-in fixed mb-3 let-0 ml-2 bottom-0 btn rounded-xl  bg-gray-950 text-xl text-white hover:bg-gray-900"><i
      class="bi bi-github"></i></a>
  <div id=""
    class="fade-in Bienvenue fixed mb-3 right-0 ml-2 bottom-0 btn rounded-xl text-xl  blur-sm text-white  btn  h-10 ml-2 mt-1  hover:blur-none ">
    <span style="font-family: 'titre', sans-serif !important">Dev by Adil Khadich</span>

  </div>

  <script src="{{ url_for('static', filename='JS/particles.js') }}"></script>
  <script src="{{ url_for('static', filename='JS/app.js') }}"></script>






</body>

<script>
  $(document).ready(function () {
    const images = document.querySelectorAll('.fade-in');

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('is-visible');
        } else {
          entry.target.classList.remove('is-visible');
        }
      });
    });

    images.forEach(image => {
      observer.observe(image);
    });

    // Observer each image
    images.forEach(image => {
      observer.observe(image);
    });
    if (!$.browser.webkit) {
      $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
    }
  });
</script>
<script>



  (function () {
    var addEvent = function (object, type, callback) {
      if (object == null || typeof (object) == 'undefined') return;
      if (object.addEventListener) {
        object.addEventListener(type, callback, false);
      } else if (object.attachEvent) {
        object.attachEvent("on" + type, callback);
      } else {
        object["on" + type] = callback;
      }
    };
    function detectMouseMove() {
      // Initial container width
      var containerWidth = $('.container').outerWidth();
      document.addEventListener('mousemove', function (e) {
        $('.hover').css({
          left: e.pageX
        });
        $('.left-side').css({
          left: e.pageX + 75
        });
        var rightSideLeft = containerWidth - e.pageX;
        $('.right-side').css({
          right: rightSideLeft
        });

      })
    }
    detectMouseMove();


    function detectTouch() {
      // Initial container width
      var containerWidth = $('.container').outerWidth();
      document.addEventListener('mousemove', function (e) {
        $('.hover').css({
          left: e.pageX
        });
        $('.left-side').css({
          left: e.pageX + 75
        });
        var rightSideLeft = containerWidth - e.pageX;
        $('.right-side').css({
          right: rightSideLeft
        });
      })
    }
    detectMouseMove();

    function touchMove() {
      // Initial container width
      var containerWidth = $('.container').outerWidth();
      document.addEventListener('touchmove', function (e) {
        $('.hover').css({
          left: e.pageX
        });
        $('.left-side').css({
          left: e.pageX + 75
        });
        var rightSideLeft = containerWidth - e.pageX;
        $('.right-side').css({
          right: rightSideLeft
        });

      })
    }

    touchMove();

    function detectInput(inputType) {
      // Detect container width after resizing
      addEvent(window, "resize", function (event) {
        var containerWidth = $('.container').outerWidth();
        $(document).bind(inputType, function (e) {
          $('.hover').css({
            left: e.pageX
          });
          $('.left-side').css({
            left: e.pageX + 75
          });
          var rightSideLeft = containerWidth - e.pageX;
          $('.right-side').css({
            right: rightSideLeft
          });
        });
      });
    }

    detectInput('mousemove');
    detectInput('touchmove');

  })();


</script>

</html>